<div class='modal'>
  <div class='modal__picture-container'>
    <img class='modal__picture' src={{poster}} alt='icon-film' />
  </div>

  <div class='modal__info-container'>
    <h2 class='modal__title'>{{movieTitle}}</h2>

    <div class='modal__char'>
      <span class='modal__char-name'>Vote / Votes</span>
      <p class='modal__char-api'>
        <span class='modal__char-api modal__vote'>{{vote}}</span>
        /
        <span class='modal__char-api'>{{votes}}</span>
      </p>
    </div>

    <p class='modal__char'>
      <span class='modal__char-name'>Popularity</span><span
        class='modal__char-api'
      >{{moviePopularity}}</span>
    </p>

    <p class='modal__char'>
      <span class='modal__char-name'>Original Title</span><span
        class='modal__char-api'
      >
        {{originalTitle}}</span>
    </p>

    <p class='modal__char modal__char-mb'>
      <span class='modal__char-name'>Genre</span><span
        class='modal__char-api'
      >{{movieGenres}}</span>
    </p>

    <p class='modal__about-title'>About</p>
    <p class='modal__about-text'>
      {{about}}
    </p>

    <div class='modal__btn-container'>
      <button class='nav__el modal__btn modal__btn--watched' type='button'>
        ADD TO WATCHED
      </button>
      <button class='nav__el modal__btn modal__btn--queue' type='button'>ADD TO
        QUEUE</button>
    </div>

    <button class='modal__close' type='button'>
      <svg width='30' height='30'>
        <use
          class='modal__close-icon'
          href='./symbol-defs.svg#icon-close_40px'
        ></use>
      </svg>
    </button>
  </div>
</div>